# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Cloud storage credentials
castaway-819d7-92a0eafe1fae.json

.env

lib